DATABASE_URL=mysql://root@localhost:3306/taskmaster
SALT_ROUNDS=10
ACCESS_TOKEN_SECRET=your-access-token-secret
ACCESS_TOKEN_MAX_AGE='5m'
REFRESH_TOKEN_SECRET=your-refresh-token-secret
REFRESH_TOKEN_MAX_AGE='1d'
ELASTIC_EMAIL_API_KEY=your-elastic-email-api-key
SYSTEM_EMAIL=your-admin-email
# 50 MB
MAX_UPLOAD_FILE_BYTE_SIZE=50000000
CLOUDINARY_CLOUD_NAME=cloudinary_cloud_name
CLOUDINARY_API_KEY=cloudinary_api_key
CLOUDINARY_API_SECRET=cloudinary_api_secret
FRONT_END_URL=front_end_url